@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --color-primary: #00669f;
  --color-secodary: #1cd1b0;
  --color-terciary: #f3f3f3;
  --color-four: #001d2d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: var(--color-primary);
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  height: 6rem;
  width: 100%;
  z-index: 10;
}
.header__disscount {
  font-weight: normal;
  background-color: var(--color-secodary);
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 1rem;
  height: 20%;
  list-style: none;
  align-items: center;
}

.header__disscount__subtitle {
  flex-grow: 0.98;
}

.header__disscount span {
  font-size: 17px; /* 1.063rem*/
  font-weight: normal;
  display: inline-block;
  margin: 10px;
}
.header__subtitle {
  font-size: 30px;
  font-weight: normal;
  line-height: 47px;
  align-items: center;
  padding: 10px;
}
.header__title{
    display: flex;
    align-items: center;
    justify-content: start;
}
.header__logo{
  width: 80px;
  height: 60px;

}
.header__contact {
  font-weight: normal;
  background-color: var(--color-four);
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 1rem;
  height: 20%;
  list-style: none;
  align-items: center;
}
.header__contact2 {
  font-weight: normal;
  background-color: var(--color-primary));
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  gap: 15px;
  height: 20%;
  list-style: none;

}
.header__item {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.heroes {
  align-content: center;
  display: inline-flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;
  width: 100%;
  padding: 5%;
}
.card {
  background-color: var(--color-terciary);
  border-radius: 16px 16px 0px 0px;
  display: flex;
  flex-direction: column;
  height: 529px;
  position: relative;
  width: 300px;
}
.card__header {
  width: 100%;
  height: 194px;
}
.card__hart {
  position: absolute;
  top: 3%;
  left: 5%;
}
.card__body {
  font-weight: normal;
  text-align: center;
  position: relative;
}
.card__avatar {
  border-radius: 50%;
  position: absolute;
  left: 30%;
  top: -25%;
}
.card__title {
  font-size: 30px; /* 1.8rem*/
  font-weight: inherit;
  line-height: 35px;
  margin-top: 70px;
  text-align: inherit;
}

.card__body p {
  font-size: 16px; /*1rem*/
  padding: 16px; /*1 rem*/
  text-align: left;
}
.card__button {
  background-color: var(--color-primary);
  color: #fff;
  display: inline-block;
  font-size: 15px;
  margin: 10px auto;
  padding: 16px;
  width: 128px;
}
.footer {
  background-color: var(--color-primary);
  height: 30px;
  padding-left: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.footer span {
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  vertical-align: middle;
}

.main__form {
  position: relative;
  width: 400px;
}

.form__item {
  display: block;
  height: 30px;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form_title {
  font-size: 48px;
  font-weight: 700;
}

.button__reset {
  width: 40%;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  left: 2%;
  background-color: #888888;
  border: none;
  color: white;
  font-weight: 700;
}

.button__in {
  width: 40%;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  right: 2%;
  background-color: #1cd1b0;
  border: none;
  color: black;
  font-weight: 700;
  font-size: 14px;
}

.form__comment {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 200px;
  resize: none;
  font-size: 14px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.form__select {
  display: block;
  height: 30px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: black;
}
.form__end {
  position: absolute;
  bottom: -30px;
}

.form__link {
  text-decoration: none;
  color: var(--color-primary);
}
.button__reg {
  width: 80%;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  left: 10%;
  background-color: #1cd1b0;
  border: none;
  color: black;
  font-weight: 700;
  font-size: 14px;
}
.button{
  position: fixed;
  z-index: 50;
  bottom: 30px;
  right: 10px;
  width: 80px;
  border-radius: 50%;
}
.button:hover{
  background-color: green;
}

@media screen and (max-width:460px){
  .header__contact{
    display: none;
  }
  .button{
    display: none;
  }

  .footer__le{
  display: none;
  }
  .main__form {
    width: 250px;
  }
  .form__comment {
    height: 100px;
  }
  .form__end{
    margin-bottom: 10px;
  }
  
}

@media  screen and (min-width: 461px){
  .header__contact2{
    display: none;
  }
}
  
